<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VUE DEMO</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 可以用 v-model 指令在表单控件元素上创建双向数据绑定 -->
    <!-- 文本 -->
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{message}}</p>

    <span>Multiline message is:</span>
    <p>{{message}}</p>
    <br>
    <textarea placeholder="add multiple lines" v-model="message"></textarea>

    <br>

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>

    <br>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>

    <br>

    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <br>

    <select v-model="selected1">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected1 }}</span>

    <br>

    <select v-model="selected2" multiple style="width: 50px">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected2 }}</span>


</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            checked: false,
            checkedNames: [],
            picked: '',
            selected1: null,
            selected2: []
        }
    });
</script>
</body>
</html>